
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand>
      <a class="navbar-brand" href="#" [routerLink]="['/']">To Do List</a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" href="#" [routerLink]="['/']" mdbWavesEffect>Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" href="#" [routerLink]="['/forget']" mdbWavesEffect>Forget</a>
          </li>
        
          <li class="nav-item">
              <a class="nav-link waves-light" href="#" [routerLink]="['/sign-up']" mdbWavesEffect>Sign-up</a>
          </li>
      </ul>
      <span class="navbar-text white-text">
          Login
      </span>
  </links>
</mdb-navbar>
<br/><br/><br/>


<div class="container">



  <div class="md-form">
      <i class="fa fa-envelope prefix"></i>
      <input mdbInputDirective type="text" id="form2" data-error=" " data-success="" [validateSuccess]="false" [errorMessage]="' '" name="email" [(ngModel)]="email" class="form-control">
      <label for="form2">Email</label>
    </div>
    <button mdbBtn type="button" gradient="blue" rounded="true" class="waves-light" (click)="forgetPassword()" mdbWavesEffect>forget password</button>
  </div>