<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#" [routerLink]="['/']">To Do List</a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" href="#" [routerLink]="['/']" mdbWavesEffect>Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" href="#" [routerLink]="['/forget']" mdbWavesEffect>Forget</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link waves-light" href="#" [routerLink]="['/sign-up']" mdbWavesEffect>Sign-up</a>
            </li>
        </ul>
        <span class="navbar-text white-text">
            Login
        </span>
    </links>
  </mdb-navbar>
  <br/><br/><br/>



<div class="container">
    
<form>
  <div class="md-form">
    <i class="fa fa-lock prefix"></i>

    <input mdbInputDirective data-error="" name="password" [validateSuccess]="false" [errorMessage]="' '" [(ngModel)]="password" data-success="" 
       type="password" class="form-control" id="form10">
    <label for="form10">Type your password</label>
   

  </div>

  <div class="md-form">
      
      <i class="fa fa-check prefix" aria-hidden="true"></i>
    <input mdbInputDirective data-error="" name="confirm" [validateSuccess]="false" [errorMessage]="' '" [(ngModel)]="confirm" data-success="" 
       type="password" class="form-control" id="form11" >
    <label for="form10">Confirm password</label>
   

  </div>
  <button mdbBtn type="button" gradient="blue" rounded="true" class="waves-light" (click)="resetPassword()" mdbWavesEffect>reset password</button>
</form>
</div>